/* Add CSS styling here */

/* Reset */

html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}
*{
    box-sizing:border-box;
    max-width:100%;
}
html{
    font-size:62.5%;
  }

/*general styles*/

body{
    line-height: 1.5;
    font-family: 'Righteous', cursive;
    /*padding-left: 100px;
    padding-right: 100px;*/
}

/*header styles*/
header{
    background-color: #12343b;
    width: 100%;
    text-align: center;
}

h1{
    font-size: 7rem;
    color: white;
}

/*nav styles*/

nav{
    background: #c89666;
    margin-left: 20%;
    margin-right: 20%;  
}   

nav ul{
    list-style-type: none;
    padding: 0;
}

nav a{
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    color: white;
    display: block;
    padding: 5%;
}

nav a:hover{
    background-color: #e1b382;
}

nav ul{
    display: flex;
}

nav li{
    flex: 1 1 0;
}


/*first section styles*/
h2{
    font-size: 4rem;
    text-align: center;
    margin-top: 30px;
}

#Intro{
    text-align: center;
    font-size: 2rem;
}

div.ploweMain{
    text-align: center;
    margin-top: 2%;
}

/*second section styles*/

.container{
    display: flex;
    justify-content: space-between;
}

.box{
    padding: 0 1% 1%;
}

.five{
    padding-top: 10%;
    padding-bottom: 10%;
}
/*footer styles*/

footer{
    background-color: #12343b;
    width: 100%;
    padding: 2%;

}

.containertwo{
    background: #c89666;
    margin: 0 45%;
    height: 5%;
    font-size: 2rem;

}
.containertwo{
    display: flex;
    justify-content: center;
}

.containertwo a{
    text-decoration: none;
    text-align: center;
    color: white;
    display: block;
    padding: 5%;
}

.containerthree{
    text-align: end;
}

.containerthree a{
    color: white;
}
/* 800px View */

@media(max-width: 800px){

.containertwo {
    margin: 0 40%;
}

@media(max-width: 500px){
    nav{
        margin-left: 10%;
        margin-right: 10%;
    }

    .five{
        padding: 0 0}
    }

}


}


